[Unit]
Description=Nginx HTTP server
After=network.target

[Service]
Type=forking
PIDFile=%%NGX_PID_PATH%%
ExecStartPre=%%NGX_SBIN_PATH%% -t -q
ExecStart=%%NGX_SBIN_PATH%%
ExecReload=%%NGX_SBIN_PATH%% -s reload
ExecStop=%%NGX_SBIN_PATH%% -s quit
PrivateDevices=yes

[Install]
WantedBy=multi-user.target
